heart/test/data/xml/ChasteParametersRelease1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="time_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="ms"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="dimensionless_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="dimensionless"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="conductivity_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="mS/cm"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="stimulus_strength_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="uA/cm^3"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="inverse_length_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="1/cm"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="capacitance_type">
  	<xs:simpleContent>
  		<xs:extension base="xs:decimal">		
		  <xs:attribute name="unit" type="xs:string" use="required" fixed="uF/cm^2"/>
		</xs:extension>	
  	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="location_type">
  	<xs:choice>
      <xs:element name="Cuboid" type="box_type"/>
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="required" fixed="cm"/>
  </xs:complexType>
  
  <xs:simpleType name="domain_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mono"/>
      <xs:enumeration value="Bi"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ionic_models_available_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fox2002BackwardEuler"/>
      <xs:enumeration value="LuoRudyIBackwardEuler"/>
      <xs:enumeration value="LuoRudyI"/>
      <xs:enumeration value="FaberRudy2000Optimised"/>
      <xs:enumeration value="FaberRudy2000"/>
      <xs:enumeration value="DifrancescoNoble"/>
      <xs:enumeration value="MahajanShiferaw"/>
      <xs:enumeration value="HodgkinHuxley"/>
      <xs:enumeration value="tenTusscher2006"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ionic_model_region_type">
    <xs:sequence>
    	<xs:element name="IonicModel" type="ionic_models_available_type"/>
    	<xs:element name="Location" type="location_type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ionic_models_type">
    <xs:sequence>
    	<xs:element name="Default" type="ionic_models_available_type"/>
    	<xs:element name="Region" type="ionic_model_region_type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="media_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Orthotropic"/>
      <xs:enumeration value="Axisymmetric"/>
      <xs:enumeration value="NoFibreOrientation"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="point_type">
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
    <xs:attribute name="z" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="box_type">
    <xs:sequence>
      <xs:element name="LowerCoordinates" type="point_type"/>
      <xs:element name="UpperCoordinates" type="point_type"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="stimulus_type">
    <xs:sequence>
      <xs:element name="Strength" type="stimulus_strength_type"/>
      <xs:element name="Duration" type="time_type"/>
      <xs:element name="Delay" type="time_type"/>
      <xs:element name="Location" type="location_type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cell_heterogeneity_type">
    <xs:sequence>
      <xs:element name="ScaleFactorGks" type="dimensionless_type"/>
      <xs:element name="ScaleFactorIto" type="dimensionless_type"/>
      <xs:element name="ScaleFactorGkr" type="dimensionless_type"/>
      <xs:element name="Location" type="location_type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="conductivity_heterogeneity_type">
    <xs:all>      
      <xs:element name="IntracellularConductivities" type="conductivities_type" minOccurs="0"/>
      <xs:element name="ExtracellularConductivities" type="conductivities_type" minOccurs="0"/>
      <xs:element name="Location" type="location_type"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="slab_type">
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
    <xs:attribute name="z" type="xs:double" use="required"/>
    <xs:attribute name="inter_node_space" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="sheet_type">
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="y" type="xs:double" use="required"/>
    <xs:attribute name="inter_node_space" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="fibre_type">
    <xs:attribute name="x" type="xs:double" use="required"/>
    <xs:attribute name="inter_node_space" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="load_mesh_type">
	  <xs:attribute name="name" type="xs:string" use="required"/>
	  <xs:attribute name="conductivity_media" type="media_type" use="required"/>
  </xs:complexType>


  <xs:complexType name="mesh_type">
  	<xs:choice>
      <xs:element name="Slab" type="slab_type"/>
      <xs:element name="Sheet" type="sheet_type"/>
      <xs:element name="Fibre" type="fibre_type"/>
      <xs:element name="LoadMesh" type="load_mesh_type"/>
    </xs:choice>
    <xs:attribute name="unit" type="xs:string" use="required" fixed="cm"/>
  </xs:complexType>
  
  <xs:complexType name="conductivities_type">
    <xs:attribute name="longi" type="xs:double" use="required"/>
    <xs:attribute name="trans" type="xs:double" use="required"/>
    <xs:attribute name="normal" type="xs:double" use="required"/>  
    <xs:attribute name="unit" type="xs:string" use="required" fixed="mS/cm"/>
  </xs:complexType>

  <xs:complexType name="time_steps_type">
    <xs:attribute name="ode" type="xs:double" use="required"/>
    <xs:attribute name="pde" type="xs:double" use="required"/>
    <xs:attribute name="printing" type="xs:double" use="required"/>    
    <xs:attribute name="unit" type="xs:string" use="required" fixed="ms"/>
  </xs:complexType>

  <xs:simpleType name="ksp_use_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="relative"/>
      <xs:enumeration value="absolute"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ksp_tolerances_type">
    <xs:choice>
      <xs:element name="KSPRelative" type="xs:double"/>
      <xs:element name="KSPAbsolute" type="xs:double"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="ksp_solver_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cg"/>
      <xs:enumeration value="symmlq"/>
      <xs:enumeration value="gmres"/>      
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ksp_preconditioner_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ilu"/>
      <xs:enumeration value="jacobi"/>
      <xs:enumeration value="bjacobi"/>
      <xs:enumeration value="hypre"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>   
      
  <xs:complexType name="simulation_type">
    <xs:all>
      <xs:element name="SpaceDimension" type="xs:integer" minOccurs="0"/>
      <xs:element name="SimulationDuration" type="time_type" minOccurs="0"/>
      <xs:element name="Domain" type="domain_type" minOccurs="0"/>
      <xs:element name="Mesh" type="mesh_type" minOccurs="0"/>

      <xs:element name="IonicModels" type="ionic_models_type" minOccurs="0"/>
      
      <xs:element name="Stimuli" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Stimulus" type="stimulus_type" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="CellHeterogeneities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
		    <xs:element name="CellHeterogeneity" type="cell_heterogeneity_type" minOccurs="0" maxOccurs="unbounded" />            
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ConductivityHeterogeneities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
  	        <xs:element name="ConductivityHeterogeneity" type="conductivity_heterogeneity_type" minOccurs="0" maxOccurs="unbounded" />            
          </xs:sequence>
        </xs:complexType>
      </xs:element>

	  <xs:element name="OutputDirectory" type="xs:string" minOccurs="0"/>
	  <xs:element name="OutputFilenamePrefix" type="xs:string" minOccurs="0"/>	  
    </xs:all>
  </xs:complexType>    

  <xs:complexType name="physiological_type">
    <xs:all>
      <xs:element name="IntracellularConductivities" type="conductivities_type" minOccurs="0"/>
      <xs:element name="ExtracellularConductivities" type="conductivities_type" minOccurs="0"/>
      <xs:element name="BathConductivity" type="conductivity_type" minOccurs="0"/>
      <xs:element name="SurfaceAreaToVolumeRatio" type="inverse_length_type" minOccurs="0"/>
      <xs:element name="Capacitance" type="capacitance_type" minOccurs="0"/>
    </xs:all>      
  </xs:complexType>    

  <xs:complexType name="numerical_type">
    <xs:all>  
  	  <xs:element name="TimeSteps" type="time_steps_type" minOccurs="0"/>
      <xs:element name="KSPTolerances" type="ksp_tolerances_type" minOccurs="0"/>
      <xs:element name="KSPSolver" type="ksp_solver_type" minOccurs="0"/>
      <xs:element name="KSPPreconditioner" type="ksp_preconditioner_type" minOccurs="0"/>
    </xs:all>      
  </xs:complexType>    
  
  <xs:complexType name="chaste_parameters_type">
    <xs:sequence>
	  <xs:element name="Simulation" type="simulation_type"/>
	  <xs:element name="Physiological" type="physiological_type"/>
	  <xs:element name="Numerical" type="numerical_type"/>
    </xs:sequence>
  </xs:complexType>
    
  <xs:element name="ChasteParameters" type="chaste_parameters_type"/>

</xs:schema>
